<%= render 'layouts/navbar' %>

<div class="container" style="margin-top: 20px;">
	<h2 align="center">About</h2>
	<div class="row" style="margin-top: 20px; margin-bottom: 130px">
		<div class="col"></div>
		<div class="shadow-lg p-3 mb-5 bg-white rounded col-7">This web app takes a user's Twitter handle and displays that user's 25 most recent tweets.</div>
		<div class="col"></div>
  </div>
</div>

<%= render 'layouts/footer' %>