<div class="about-bg">
  <div class="container mt-5">
    <h2 class="text-center">About</h2>
    <div class="row mt-5">
      <div class="col"></div>
      <div class="shadow-lg p-3 mb-5 bg-white rounded col-7">This web app takes a user's Twitter handle and displays that user's 25 most recent tweets.</div>
      <div class="col"></div>
    </div>
  </div>
</div>





