<div class="jumbotron jumbotron-fluid center">
  <div class="container">
    <h1 class="display-4">25 Most Rencent tweets of a Twitter Handle</h1>
    <p class="lead" align="center">Please type in a twitter handle to find the 25 most recent tweets</p>
  </div>
</div>
