<%= render 'layouts/navbar' %>

<div class="jumbotron jumbotron-fluid" align="center" style="margin-top: 130px; margin-bottom: 130px">
  <div class="container">
    <h1 class="display-4">Rencent tweets of Twitter Handle</h1>
    <p class="lead" align="center">Please type in a twitter handle to find the 25 most recent tweets</p>
  </div>
</div>

<%= render 'layouts/footer' %>