<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <!-- <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active home1">
        <div class="carousel-caption" style="top: 30%; bottom: auto; color: black">
          <h1 class="display-4">25 Most Recent Tweets of a Twitter Handle</h1>
          <p class="lead center d-none d-md-block">Please type in a twitter handle to find the 25 most recent tweets</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item home2">
        <div class="carousel-caption" style="top: 25%; bottom: auto; color: black">
          <h3>Try the twitter web app right now!</h3>
          <p class="d-none d-md-block">Let's find out what your friend is posting on twitter</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <!-- <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Third Slide</h3>
          <p>This is a description for the third slide.</p>
        </div>
      </div> -->        
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>

<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h3>25 Most Recent Tweets of a Twitter Handle</h3>
    <p>
      This web app takes a user's <code>Twitter handle</code> and displays that user's <code>25 most recent tweets.</code>
    </p>
  </div>
</section>