<%= render 'layouts/navbar' %>

<% if !@username.blank? %>
	<%= @username %></br>
	<% CLIENT.user_timeline(@username, count: 25).each do |tweet| %>
		<div><%= tweet.text %></div>
	<% end %>
<% end %>

<%= render 'layouts/footer' %>