<div class="search-bg">
	<% begin %>
		<% CLIENT.user(@username) %>

	<% rescue %>	
		<div class="container mt-5">
	    <h2 class="text-center">I am sorry!</h2>
	    <div class="row mt-5">
	      <div class="col"></div>
	      <div class="shadow-lg p-3 mb-5 bg-white rounded col-7">This user handle does not exist!</div>
	      <div class="col"></div>
	    </div>
	  </div>
	<% else %>
		<% begin %>
			<% tweets = CLIENT.user_timeline(@username, count: 25) %>
		<% rescue%>	
			<div class="row">
				<div class="col"></div>
				<div class="shadow-lg p-3 mb-5 bg-white rounded col-7">There is something wrong with this user handle!</div>
				<div class="col"></div>
			</div>
		<% else %>
			<div class="row mt-3">
				<div class="col"></div>
				<div class="col text-center"><h4><%= @username %></h4></div>
				<div class="col"></div>
			</div>
			<% tweets.each do |tweet| %>
				<div class="row">
					<div class="col"></div>
					<div class="shadow-lg p-3 mb-5 bg-white rounded col-7"><%= tweet.text %></div>
					<div class="col"></div>
				</div>
			<% end %>
		<% end %>
	<% end %>
</div> 