<%= render 'layouts/navbar' %>

<% if @username.blank? || CLIENT.user_timeline(@username, count: 25).nil? %>
	<div class="row" style="margin-top: 130px; margin-bottom: 130px">
		<div class="col"></div>
		<div class="shadow-lg p-3 mb-5 bg-white rounded col-7">This user handle does not exist or it does not contain any tweets</div>
		<div class="col"></div>
	</div>
<% else %>
	<div class="row" style="margin-top: 20px;">
		<div class="col"></div>
		<div class="shadow-lg p-3 mb-5 bg-white rounded col-5"><%= @username + "'s 25 most recent tweets are shown below" %></div>
		<div class="col"></div>
	</div>
	<% CLIENT.user_timeline(@username, count: 25).each do |tweet| %>
		<div class="row">
			<div class="col"></div>
			<div class="shadow-lg p-3 mb-5 bg-white rounded col-7"><%= tweet.text %></div>
			<div class="col"></div>
		</div>
	<% end %>
<% end %>

<%= render 'layouts/footer' %>