<footer class="page-footer font-small">

  <!-- Copyright -->
  <div class="container">
	  <div class="footer-copyright text-center py-3">© Copyright by 
	    <a href="https://github.com/henrylou">Hengyu Lou</a>
	  </div>
	</div>
  <!-- Copyright -->

</footer>
